<tr class="{CSS_ROW}">
	<td class="std">{VAL_COMMENT_ID}</td>
	<td class="std">{VAL_COMMENT_TIME}</td>
	<td class="std">{VAL_COMMENT_TIME_END}</td>
	<!-- BEGIN username --><td class="std">{VAL_USER_ID}</td><!-- END username -->
	<td class="std">{VAL_TITLE}</td>
	<td class="std">{VAL_COMMENT_TEXT}</td>
	<!-- BEGIN is_interactive --><td class="std">{VAL_IS_INTERACTIVE}</td><!-- END is_interactive -->
	<!-- BEGIN is_tutor --><td class="std">{VAL_IS_TUTOR}</td><!-- END is_tutor -->
	<!-- BEGIN is_private --><td class="std">{VAL_IS_PRIVATE}</td><!-- END is_private -->
	<td class="std">{VAL_IS_REPLY_TO}</td>
	<td class="std">{VAL_ACTIONS}</td>
</tr>