<div class="col-sm-9">
	<input type="checkbox" name="add_marker_chk" value="1" id="add_marker_chk"/> {TXT_ADD_MARKER}
	<div class="form-inline add_marker_selector" style="display:none">
		<div>
			<div class="marker_toolbar prototype">
				<div class="iv_mk_color marker_toolbar_element">
					<label for="color_picker">{TXT_COLOR}</label><br/><input id="color_picker"  type="color" value="#FF0000"><br/>
				</div>
				<div class="iv_mk_stroke marker_toolbar_element">
					<label for="stroke_picker">{TXT_STROKE}</label><br/><input id="stroke_picker" type="number" name="stroke" min="1" max="99" step="1" value="2"><br/>
				</div>
				<div class="iv_mk_width marker_toolbar_element">
					<label for="width_changer">{TXT_WIDTH}</label><br/><input id="width_changer" type="range" min="1" max="190" value="100">
				</div>
				<div class="iv_mk_height marker_toolbar_element">
					<label for="height_changer">{TXT_HEIGHT}</label><br/><input id="height_changer" type="range" min="1" max="120" value="100">
				</div>
				<div class="iv_mk_scale marker_toolbar_element">
					<label for="scale_changer">{TXT_SCALE}</label><br/><input id="scale_changer" type="range" min="0.1" max="1.4" value="1"  step="0.1">
				</div>
				<div class="iv_mk_rotate marker_toolbar_element">
					<label for="rotate_changer">{TXT_ROTATE}</label><br/><input id="rotate_changer" type="range" min="1" max="360" value="0">
				</div>
			</div>

			<div class="marker_button_toolbar">
				<input type="button" class="btn btn-default btn-sm marker_btn" value="{TXT_RECTANGLE}" id="btn_rect" />
				<input type="button" class="btn btn-default btn-sm marker_btn" value="{TXT_CIRCLE}" id="btn_circle" />
				<input type="button" class="btn btn-default btn-sm marker_btn" value="{TXT_ARROW}" id="btn_arrow" />
				<input type="button" class="btn btn-default btn-sm marker_btn" value="{TXT_LINE}" id="btn_line" />
			</div>

			<svg class="rect_prototype interactive_rectangle prototype"  viewBox="0 0 300 150">
				<rect class="rectangle_object" x="100" y="25" width="100" height="100" style="stroke: #FF0000; fill: none;stroke-width:2;"/>
			</svg>
			<svg class="circle_prototype interactive_circle prototype"  viewBox="0 0 300 150">
				<circle class="circle_object" cx="150" cy="75" r="40" stroke="#FF0000" stroke-width="2" fill="none" />
			</svg>
			<svg class="arrow_prototype interactive_arrow prototype"  viewBox="0 0 300 150">
				<path d="m0,50l50,-50l50,50l-25,0l0,50l-50,0l0,-50l-25,0z" transform="translate(100, 15),rotate(0, 49, 59)" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" fill="#FF0000"/>
			</svg>
			<svg class="line_prototype interactive_line prototype"  viewBox="0 0 300 150">
				<line x1="100" y1="75" x2="200" y2="75" style="stroke:#FF0000;stroke-width:2" />
			</svg>
		</div>
	</div>
</div>