<span class="ilNoDisplay ffmpeg_url_holder" data-ffmpeg-url="{AJAX_URL}">
	il.InteractiveVideoFFMPEGAjaxURL = "{AJAX_URL}";
</span>
<div class="tools col-xs-12">
	<div class="col-xs-2"></div>
	<div class="col-xs-4">{TIME_PICKER}</div>
	<div class="col-xs-4">{ACTION_BUTTON}</div>
	<div class="col-xs-2"></div>
</div>
<div class="preview col-xs-12">

</div>
<div class="prototype">
	<div class="use_as_question_image"><a class="btn btn-default question_image_select hidden" href="#">{USE_AS_QUESTION_IMAGE}</a></div>
</div>