<script type="text/javascript">
	if(il.InteractiveVideo === undefined){
		il.InteractiveVideo = {};
	}

	il.InteractiveVideo["lang"] = {
		switch_on:                    '{SWITCH_ON}',
		switch_off:                   '{SWITCH_OFF}',
		send_text:                    '{SEND_BUTTON}',
		close_text:                   '{CLOSE_BUTTON}',
		feedback_button_text:         '{FEEDBACK_JUMP_TEXT}',
		learning_recommendation_text: '{LEARNING_RECOMMENDATION_TEXT}',
		answered_text:                '{ALREADY_ANSWERED_TEXT}',
		question_text:                '{QUESTION_TEXT}',
		private_text:                 '{PRIVATE_TEXT}',
		reset_text:                   '{RESET_TEXT}',
		author_filter:                '{AUTHOR_FILTER}',
		layout_filter:                '{LAYOUT_FILTER}',
		save:                         '{SAVE}',
		add_comment:                  '{ADD_COMMENT}',
		compulsory:                   '{COMPULSORY}',
		show_best_solution:           '{SHOW_BEST_SOLUTION}',
		more_information:             '{MORE_INFORMATION_TEXT}',
		repeat:                       '{REPEAT_TEXT}',
        solution:                     '{SOLUTION_TEXT}',
        at_least_one_answer:          '{AT_LEAST_ONE_ANSWER}',
        reply_to_title					: '{REPLY_TO_TEXT}',
        jump_to_text					: '{JUMP_TO_TIME}'

    };

	var player = {
			player_type:                     '{PLAYER_TYPE}',
			video_finished_post_url:         '{VIDEO_FINISHED_POST_URL}',
			video_started_post_url:          '{VIDEO_STARTED_POST_URL}',
			question_get_url:                '{QUESTION_GET_URL}',
			question_post_url:               '{QUESTION_POST_URL}',
			post_comment_url:                '{POST_COMMENT_URL}',
			interactive_video_ref_id:        '{INTERACTIVE_VIDEO_REF_ID}',
			installation_client_id :         '{INTERACTIVE_INSTALLATION_CLIENT_ID}',
			stopPoints:                      {STOP_POINTS},
     		compulsoryQuestions:             {COMPULSORY_QUESTIONS},
			ignore_questions:                {IGNORE_QUESTIONS},
			username:                        "{USERNAME}",
			user_image:                      "{USER_IMAGE}",
			user_image_cache:                '{USER_IMAGES_CACHE}',
			auto_resume:                     "{AUTO_RESUME_AFTER_QUESTION}",
		    fixed_modal	:                    '{FIXED_MODAL}',
			pause_on_click_in_comment_field: true,
			iv_debug:                        false,
			last_stopPoint:                  -1,
            last_stop_id:                    -1,
			last_time:                       0,
			is_show_all_active:              false,
			filter_by_user:                  false,
			is_chronologic:                  '{IS_CHRONOLOGIC_VALUE}',
			blacklist_time_end:              [],
			comment_hightlight_time:         500,
			comments:                        {COMMENTS},
			comments_toc:                    {COMMENTS_TOC},
			show_toc_first:                  "{SHOW_TOC_FIRST}",
			disable_comment_stream:	         "{DISABLE_COMMENT_STREAM}",
			layout_width:	                 "{LAYOUT_WIDTH}",
			first_play_action:               true,
            get_comment_marker_modal		: '{GET_COMMENT_MARKER_MODAL}',
            get_chapter_modal        		: '{GET_CHAPTER_MODAL}',
            get_question_creation_modal		: '{GET_QUESTION_CREATION_MODAL}',
            video_mode						: '{VIDEO_MODE}',
            tutor_mode						: '{TUTOR_MODE}',
            tracks:                          [{HAS_TRACKS}],
            edit_mode                      : false
	};

	il.InteractiveVideo["{PLAYER_ID}"] = (player);
    var plyr_global_config = {
        invertTime : false
    }
</script>
{CK_CONFIG}