<div id="ilInteractiveVideoCommentsForm">
	<div id="il_prop_cont_comment_text" class="form-group">
		<label class="col-sm-9 control-label" for="comment_text"><b>{TXT_COMMENT}:</b></label>
		<div class="col-sm-12">
			<textarea id="comment_text_{PLAYER_ID}" class="form-control" rows="" wrap="virtual" name="comment_text"></textarea>
			<script>
				CKEDITOR.replace('comment_text_{PLAYER_ID}');
			</script>
			<input type="hidden" name="comment_time" id="comment_time_{PLAYER_ID}" value="">
			<div class="ilNoDisplay alert alert-warning" id="no_text_warning_{PLAYER_ID}">{TXT_NO_TEXT_WARNING}</div>
		</div>
		<div class="col-sm-9">
			<input type="checkbox" name="is_private" value="1" id="is_private_{PLAYER_ID}"/> {TXT_IS_PRIVATE}
		</div>
		<div class="col-sm-12">
			<div class="ilNoDisplay alert alert-warning" id="end_time_warning_{PLAYER_ID}">{TXT_ENDTIME_WARNING}</div>
			<input type="checkbox" name="comment_time_end_chk" value="1" id="comment_time_end_chk_{PLAYER_ID}"/> {COMMENT_TIME_END}
			<div class="form-inline end_time_selector_{PLAYER_ID}" style="display:none">
				<div>{COMMENT_TIME_END_PICKER}</div>
			</div>
		</div>
		{MARKER_EDITOR}
	</div>
	<div class="ilFormFooter clearfix">
		<div class="col-sm-12 ilFormRequired"></div>
		<div class="col-sm-12 ilFormCmds ilInteractiveVideoFormCommands">
			<input id="ilInteractiveVideoCommentSubmit_{PLAYER_ID}" class="btn btn-default btn-sm" type="submit" value="{TXT_POST}">
			<button id="ilInteractiveVideoCommentCancel_{PLAYER_ID}" class="btn btn-default btn-sm" type="button" value="">{TXT_CANCEL}</button>
		</div>
	</div>
</div>