<!-- BEGIN active_row -->
<tr class="{CSS_ROW}">
	<td class="std">{VAL_COMMENT_ID}</td>
	<td class="std">{VAL_COMMENT_TIME}</td>
	<td class="std">{VAL_COMMENT_TIME_END}</td>
	<!-- BEGIN username --><td class="std">{VAL_USER_ID}</td><!-- END username -->
	<td class="std">{VAL_TITLE}</td>
	<td class="std">{VAL_COMMENT_TEXT}</td>
	<!-- BEGIN is_interactive --><td class="std">{VAL_IS_INTERACTIVE}</td><!-- END is_interactive -->	
	<!-- BEGIN is_compulsory --><td class="std">{VAL_COMPULSORY}</td><!-- END is_compulsory -->
	<!-- BEGIN is_tutor --><td class="std">{VAL_IS_TUTOR}</td><!-- END is_tutor -->
	<!-- BEGIN is_private --><td class="std">{VAL_IS_PRIVATE}</td><!-- END is_private -->
	<td class="std">{VAL_ACTIONS}</td>
</tr>
<!-- END active_row -->
<!-- BEGIN no_row --><tr class="{CSS_ROW}" style="display:none"><td>{VAL_SPACE}</td></tr><!-- END no_row -->