<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div id="ilInteractiveVideoPlayerContainer">
			<video controls="controls" id="ilInteractiveVideo">
				<source type="{VIDEO_TYPE}" src="{VIDEO_SRC}"/>
			</video>
		</div>
		<div id="ilInteractiveVideoCommentsForm">
			<form id="form_" class="form-horizontal preventDoubleSubmission" method="post"
				  action="{FORM_ACTION}" role="form">
				<div id="il_prop_cont_comment_text" class="form-group">
					<label class="col-sm-3 control-label" for="comment_text">{TXT_COMMENT}</label>

					<div class="col-sm-9">
						<textarea id="comment_text" class="form-control noRTEditor" rows="" wrap="virtual" name="comment_text"></textarea>
						<input type="hidden" name="comment_time" id="comment_time" value="">

					</div>
				</div>
				<div class="ilFormFooter clearfix">
					<div class="col-sm-6 ilFormRequired"></div>
					<div class="col-sm-6 ilFormCmds">
						<input class="btn btn-default btn-sm" type="submit" value="{TXT_POST}" onclick="getCurrentTime()">
						<input class="btn btn-default btn-sm" type="button" value="{TXT_CANCEL}" onclick="deleteCommentText()">
					</div>
				</div>
			</form>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div id="ilInteractiveVideoComments" class="scroll-text">
			<ul>
				<li></li>
				<!-- BEGIN comments_list -->
				<li id="{C_INDEX}">{COMMENT_TEXT}</li>
				<!-- END comments_list -->
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		(function ($) {
			function getCurrentTime() {
				$('#comment_time').val($("video#ilInteractiveVideo").prop("currentTime"));
			}

			function deleteCommentText() {
				$('#comment_text').val("");
			}

			il.Util.addOnLoad(function () {
				var _lastTime = 0, stopPoints = [];
				try {
					stopPoints = {STOP_POINTS};
				} catch (e) {
					stopPoints = [];
				}

				var interval;

				var player = new MediaElementPlayer("#ilInteractiveVideo", {
					timerRate: 100,
					enablePluginDebug: true,
					success:           function(media) {
						media.addEventListener('seeked', function (e) {
							console.log('seeked');
							console.log(_lastTime);
							console.log(media.currentTime);
							if (_lastTime == media.currentTime) {
								console.log('do nothing');
							}
							if (_lastTime > media.currentTime) {
								console.log('scrollbox: scroll backward');
								_lastTime = media.currentTime;
							}
							if (_lastTime < media.currentTime) {
								console.log('scrollbox: scroll forward');
								_lastTime = media.currentTime;
							}
						}, false);

						media.addEventListener('pause', function(e) {
							clearInterval(interval);
							_lastTime = media.currentTime;
						}, false);

						media.addEventListener('playing', function(e) {
							interval = setInterval(function () {
								if (media.currentTime >= media.duration) {
									clearInterval(interval);
									return;
								}

								if (!isNaN(media.currentTime) && media.currentTime > 0) {
									for (var j = stopPoints.length - 1; j >= 0; j--) {
										var cueTime = stopPoints[j];

										if (cueTime >= _lastTime && cueTime <= media.currentTime) {
//											
// if interactive trigger enabled pause ... 
// player.pause();
											$('#ilInteractiveVideoComments').scrollbox({
												afterForward: function(data) {
													$(this).trigger('xvid_stop');
												}
											});
										}
									}
									_lastTime = media.currentTime;
								}
							}, 100);

						}, false);
					}
				});
			});
		})(jQuery);
	</script>

</div>