<script type="text/javascript">
	il.InteractiveVideo 	=
	{
		question_get_url 				: '{QUESTION_GET_URL}',
		question_post_url 				: '{QUESTION_POST_URL}',
		post_comment_url 				: '{POST_COMMENT_URL}',
		stopPoints 						: {STOP_POINTS},
		ignore_questions				: {IGNORE_QUESTIONS},
		username						: "{USERNAME}",
		auto_resume						: false,
		pause_on_click_in_comment_field	: true,
		iv_debug						: false,
		last_stopPoint 					: -1,
		last_time						: 0,
		is_show_all_active				: false,
		filter_by_user					: false,
		is_chronologic					: '{IS_CHRONOLOGIC_VALUE}',
		blacklist_time_end				: [],
		comments 						: {COMMENTS},
		lang 	:
			 {
				 switch_on						: '{SWITCH_ON}',
				 switch_off						: '{SWITCH_OFF}',
				 send_text						: '{SEND_BUTTON}',
				 close_text						: '{CLOSE_BUTTON}',
				 feedback_button_text			: '{FEEDBACK_JUMP_TEXT}',
				 learning_recommendation_text	: '{LEARNING_RECOMMENDATION_TEXT}',
				 answered_text					: '{ALREADY_ANSWERED_TEXT}',
				 question_text					: '{QUESTION_TEXT}',
				 private_text					: '{PRIVATE_TEXT}',
				 reset_text	   					: '{RESET_TEXT}'
			 }
	};
</script>