<nav class="ilToolbar navbar navbar-default" role="navigation">
	<div class="collapse navbar-collapse" id="tb-collapse-2">
		<ul class="ilToolbarItems nav navbar-nav ilFloatRight">
			<li>
				<div class="navbar-form">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuInteraktiveVideo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							xxxAuthorfilter
							<span class="caret"></span>
						</button>
						<ul id="dropdownMenuInteraktiveList" class="dropdown-menu" aria-labelledby="dropdownMenuInteraktiveVideo">
							<li><a href="#">{RESET_TEXT}</a></li>
							<li role="separator" class="divider"></li>
						</ul>
					</div>
				</div>
			</li>
			<li>
				<div class="navbar-form">
					<label>
						xxxShow all Comments:
					</label>
						<input id="show_all_comments" type="checkbox" data-toggle="toggle" data-width="50" data-height="30">
				</div>
			</li>
		</ul>
	</div>
</nav>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div id="ilInteractiveVideoPlayerContainer">
			<video controls="controls" id="ilInteractiveVideo">
				<source type="{VIDEO_TYPE}" src="{VIDEO_SRC}"/>
			</video>
		</div>
		<div id="ilInteractiveVideoCommentsForm">
			<div id="il_prop_cont_comment_text" class="form-group">
				<label class="col-sm-9 control-label" for="comment_text">{TXT_COMMENT}</label>
				<div class="col-sm-9">
					<textarea id="comment_text" class="form-control noRTEditor" rows="" wrap="virtual" name="comment_text"></textarea>
					<input type="hidden" name="comment_time" id="comment_time" value="">
				</div>
				<div class="col-sm-9">
					<input type="checkbox" name="is_private" value="1" id="is_private"/> {TXT_IS_PRIVATE}
				</div>
			</div>
			<div class="ilFormFooter clearfix">
				<div class="col-sm-9 ilFormRequired"></div>
				<div class="col-sm-9 ilFormCmds">
					<input id="ilInteractiveVideoCommentSubmit" class="btn btn-default btn-sm" type="submit" value="{TXT_POST}">
					<button id="ilInteractiveVideoCommentCancel" class="btn btn-default btn-sm" type="button" value="">{TXT_CANCEL}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class=ilFormHeader">
			<h3 class="ilHeader">{TXT_COMMENTS}</h3>
		</div>
		<div id="ilInteractiveVideoComments" class="scroll-text">
			<ul id="ul_scroll">
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		var question_get_url 	= "{QUESTION_GET_URL}";
		var question_post_url 	= "{QUESTION_POST_URL}";
		var post_comment_url 	= "{POST_COMMENT_URL}";
		var send_text			= "{SEND_BUTTON}";
		var close_text			= "{CLOSE_BUTTON}";
		var feedback_button_text= "{FEEDBACK_JUMP_TEXT}";
		var learning_recommendation_text= "{LEARNING_RECOMMENDATION_TEXT}";
		var answered_text	    = "{ALREADY_ANSWERED_TEXT}";
		var question_text	    = "{QUESTION_TEXT}";
		var private_text	   	= "{PRIVATE_TEXT}";
		var reset_text	   		= "{RESET_TEXT}";
		var comments 			= {COMMENTS};
		var stopPoints 			= {STOP_POINTS};
		var ignore_questions	= {IGNORE_QUESTIONS};
		var username			= "{USERNAME}";
		var seekTime			= 0;
		var InteractiveVideo 	= 
		{
			auto_resume						: false,
			pause_on_click_in_comment_field	: true,
			iv_debug						: false,
			last_stopPoint 					: -1,
			last_time						: 0,
			is_show_all_active				: false,
			filter_by_user					: false
		};
				
		$.fn.debugPrinter = function (message, element)
		{
			if( InteractiveVideo.iv_debug )
			{
				console.log(message + ': ');
				console.log(element);
			}
		};
//		$().debugPrinter('Comments', comments);
//		$().debugPrinter('stopPoints', stopPoints);
		
	</script>
</div>
</div>
{MODAL_OVERLAY}
