<div class="row">
	<div class="col-xs-12 alert alert-info"><div>{SCREEN_INFO}</div></div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div id="ilInteractiveVideoPlayerContainer">
			{VIDEO_PLAYER}
		</div>
		<div id="ilInteractiveVideoCommentsForm">
			<form id="f_cmt" method="post" action="{FORM_ACTION}"> 
			<div id="il_prop_cont_comment_text" class="form-group">
				
				<div class="col-sm-9">
					<input type="hidden" name="comment_time" id="comment_time" value="($('video#ilInteractiveVideo')[0].currentTime">
				</div>
			</div>
			<div class="ilFormFooter clearfix">
				<div class="col-sm-9 ilFormRequired"></div>
				<div class="col-sm-9 ilFormCmds">
					<button id="ilInteractiveVideoTutorCommentSubmit" class="btn btn-default btn-sm" type="submit" name='cmd' value="showTutorInsertCommentForm">{TXT_INS_COMMENT}</button>
					<button id="ilInteractiveVideoTutorQuestionSubmit" class="btn btn-default btn-sm" type="submit"  name='cmd' value="showTutorInsertQuestionForm">{TXT_INS_QUESTION}</button>
					<button id="ilInteractiveVideoChapterSubmit" class="btn btn-default btn-sm" type="submit"  name='cmd' value="showTutorInsertChapterForm">{TXT_INS_CHAPTER}</button>
				</div>
			</div>
			</form>
		</div>
	</div>
	
</div>
{CONFIG}

<script type="text/javascript">
	$("#ilInteractiveVideoTutorCommentSubmit, #ilInteractiveVideoTutorQuestionSubmit, #ilInteractiveVideoChapterSubmit").on("click", function(e) {
		$('#comment_time').val(il.InteractiveVideoPlayerAbstract.currentTime("{PLAYER_ID}"));
	});

</script>
{MODAL_OVERLAY}

<div class="col-sm-12">&nbsp;</div>
{TABLE}