#ilInteractiveVideoPlayerContainer video {
	width: 100%!important;
	height: auto !important;
}

.scroll-text {
	border: 1px solid gray;
	width: 100%!important;
	/*width: 400px;*/
	height: 15em;
    overflow-y: auto;
}
.scroll-text ul {
	/*width: 800px;*/
	width: 100%!important;
	height: 100px;
	margin: 0;
}
.scroll-text ul li {
	height: 1.5em;
	list-style: none;	
}

#time{
	color: blue;
}

.simple_question_editor{
    margin: 1em;
}
#inner_question_editor_prototype{
    display:none;
}