#ilInteractiveVideoPlayerContainer video {
	width: 100%!important;
	height: auto !important;
}

.mejs-container {
    width: 100% !important;
    height: auto !important;
    padding-top: 57%;
    background: none !important;
}
.mejs-overlay, .mejs-poster {
    width: 100% !important;
    height: 100% !important;
}
.mejs-mediaelement video {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100% !important;
    height: 100% !important;
}

.scroll-text {
	width: 100%!important;
	background-color:white;
	height: 35em;
    overflow-y: auto;
}
.scroll-text ul {
	/*width: 800px;*/
	width: 100%!important;
	height: 100px;
	margin: 0;
}
.scroll-text ul li {
	/*height: 1.5em;*/
	list-style: none;	
}

.time{
	color: blue;
}

.simple_question_editor{
    margin: 1em;
}
#inner_question_editor_prototype{
    display:none;
}

#ilFooter {
	background-color: #4c6586;
	bottom: -1px !important;
	color: white;
	font-size: 0.9em;
	height: 160px;
	left: 0;
	margin: 0 auto;
	padding: 20px 0 0;
	position: relative;
	right: 0;
	text-align: left;
}

.modal_feedback{
    margin: 10px 0px 10px 0px;
    padding: 5px;
}
.modal_feedback .wrong{
    background-color: #FFE7E7;
}

.modal_feedback .correct{
    background-color: #E7FFE7;
}
.modal_feedback .correct:before {
    color: #008000;
    font-size: 30px;
    font-family: "Glyphicons Halflings";
    content: "\e013";
    padding-right: 20px;
    opacity: 0.4;
}

.modal_feedback .wrong:before {
    color: #880000;
    font-size: 30px;
    font-family: "Glyphicons Halflings";
    content: "\e014";
    padding-right: 20px;
    opacity: 0.4;
}
#close_form{
    float: right;
}
.comment_tags{
    color:#00AAAA;
}

